a {
  color: black;
}

body {
  background: linear-gradient(to bottom right, royalBlue, cornflowerBlue, aliceBlue, lightskyBlue, aliceBlue, cornflowerBlue, royalBlue);
  text-align: center;
  font-family: sans-serif;
  border: 3px solid purple;
  float: auto;
  opacity: 90%;
}

h1 {
  color: darkBlue;
  background-color: #eeeeee;
  font-family: italic;
  text-align: center;
}

h2 {
  color: darkBlue;
  font-family: italic;
  background-color: #eeeeee;
  text-align: center;
}

h4 {
  color: darkBlue;
  font-family: italic;
  background-color: #eeeeee;
  text-align: center;
}

img {
  border: 3px solid darkBlue;
  max-width:100%;
  height: auto;
}

li {
  text-align:left;
}

p {
  font-family: arial;
  font-size: 20px;
  color: darkBlue;
  background-color: #eeeeee;
}

ul {
  background-color: #eeeeee;
}

div {
  background-color: #eeeeee;
  width: auto;
  height: auto;
  color: black;
}

.proflinks {
  text-align: center;
  background-color: skyBlue;
  border: 3px solid purple;
}

.verify {
  background-color: lightBlue;
  padding: 1;
  margin: 1;
  text-align: center;
}

.navbar {
  background-color: #eeeeee;
  margin:auto;
  text-align: left;
}
